{% extends 'Base.html' %}

{% block content %}
<main class="container py-5">
<section class="card card-body">
    <h1 class="display-1 text-center">!Bienvenido!</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt officiis velit esse quia eius a optio animi. Tempore cupiditate, praesentium, blanditiis perferendis cumque earum excepturi omnis provident alias, aliquam nemo aliquid ad quis. Ullam aliquid, quas dolor eveniet voluptatem nemo suscipit. Repellendus inventore possimus praesentium blanditiis voluptate eligendi voluptas, qui dolores, ea quo, architecto asperiores amet illo natus placeat laudantium minima modi. Id, cum quo. Cupiditate in pariatur omnis consequuntur autem ab minus alias quis voluptatem vitae aspernatur eos repellendus, nemo unde, quasi natus ipsa, saepe rem corporis iusto perspiciatis nobis? Dolor asperiores nemo soluta fuga iure rerum, ipsum labore.</p>
</section>

<div class="text-center">
    <a href="/Iniciar_Sesion/" class="btn btn-primary">Iniciar Sesion</a>
    <a href="/Registros/" class="btn btn-dark">Registrarse</a>
</div>



</main>

{% endblock %}